.PostFeedToggle{
  background-color: #4C5FD7;
  padding: 15px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: fixed;
  left: 500px;
  top: 100px;
  display: inline-block;
  transition: left 200ms ease-in-out;
}
.PostFeedToggle.hidden{
  left: 100px!important;
}